<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was create by Willy Martinez. It uses data from mapbox and weatherstack.</p>
            <img class="portrait" src="/img/linkedin_profile.png">
        </div>
        {{>footer}}
    </body>
</html>